doctype html
html
  head
    meta(charset='utf-8')      
    title Puzzle
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    h1#title puzzle
    
    table
      tbody
        - for(var y = 0; y < 3; y++)
          tr 
          - for (var x = 0; x < 3; x++)
            td(data-x=x, data-y=y, class='piece')
      
    
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/lodash/lodash.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
